tbody:hover {
    cursor: pointer;
}

/* very bad solution for the problem with the fixed seize of the graph */
@media only screen and (max-width: 1000px) { 
    #dist-graph {
        display: none;
    }
}
