.validator {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    color: black;
    width: 100%;
}

#valTable{
    align-self: center;
    margin: 0 5em;
    border-collapse: collapse;
    display: none;
}

.validator tr {
    justify-content: space-evenly;
    border: solid;
    border-color: black;
}

.validator th {
    background-color: white;
}

.validator td {
    border: solid;
    border-color: black;
    height: 5em;
    text-align: center;
    color: black;
    background-color: rgb(244, 153, 153);
}

.valName {
    text-decoration: underline;
}

.valName:hover {
    cursor: pointer;
}

#valGraph {
    display: none;
}