.spoilerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.spoilerBar:hover {
    cursor: pointer;
}

.spoilerBar img {
    height: 3em;
}