.chain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.header {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
}

.header img {
    margin-right: 1em;
    height: 4em;
}

.generalInfo {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.generalInfo p {
    align-self: center;
}

.specificInfo {
    display: flex;
    background-color:white;
    display: none;
}

.specificInfo p {
    align-self: center;
}