.info-c {
    min-width: 300px;
}

.info-c h2 {
    margin-top: 2rem;
}

.details {
    word-wrap: break-word;
}

.buttons {
    margin: 2px 2px;
    width: 10%;
}

.popover {
    overflow: auto;
    max-height: 20%;
}