.home {
    display: flex;
    flex-direction: column;
}

.introText {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 25em;
    margin-left: 25em;
    margin-bottom: 5em;;
}

#quote {
    align-self: flex-end;
    font-style: italic;
    margin-bottom: 0;
}

#author {
    align-self: flex-end;
    margin-top: 0;
    font-weight: bold;
    font-size: 12px;
}

.introText p {
    align-self: center;
}

.contactInfo {
    display: flex;
    background-color: white;
    height: 15em;
    justify-content: space-around;
}

.contactInfo a {
    align-self: center;
}

#twitter {
    height: 2.5em;
    width: 3em;
}