.home {
    display: flex;
    flex-direction: column;
}

.introText {
    display: flex;
    background-color: rgb(116, 250, 116);
    height: 30em;
    justify-content: center;
}

.introText p {
    align-self: center;
}

.contactInfo {
    display: flex;
    background-color: white;
    height: 15em;
    justify-content: space-around;
}

.contactInfo a {
    align-self: center;
}

#twitter {
    height: 5em;
    width: 6em;
}