.navi-container {
    display: inline-block;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: 9999;
    overflow: visible;
    transition: transform 0.3s ease 0s, background-color 0.3s ease 0s, opacity 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s, margin 0.25s ease-out 0s;
}

.offPage {
    float: left;
}

.onPage {
    float: right;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    height: 1em;
    margin-top: 0;
    padding: 0 1em;
    color: blue;
}

.onPage a:hover {
    color: black;
}

.offPage li:hover {
    color: black;
    cursor: pointer;
}

.onPage a {
    text-decoration: none;
    color: blue;
}


